.main {
  width: 100%;
  background-color: #05053B;
  color:white;
  border-bottom: 3px solid orange;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  padding: 16px 12px;
}
.banner_left{
    width:50%;
    margin:20px 0px;
}
.banner_left h1{
    margin:20px 0px;
}
.search{
  width:500px;
  display: flex;
  background-color: #05053B;
}

.search input,
.search button {
  padding:10px;
  border-radius: 15px !important; 
}

.search input {
  border-right: 1px solid #ced4da !important;
}

.search button {
  border-left: 1px solid transparent !important;
}
.stats{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.stats>li>span{
    font-weight: bold;
    font-size: 18px;
    color:orange;
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }

  .search {
    width: 100%;
  }
}
.banner_right{
    width:50vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_auction {
  max-width: 1320px;
  margin: 40px auto;
  padding: 0 12px;
}

.list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.list_header span {
  width:fit-content;
  display:block;
  background-color:red;
  border-radius: 20px;
  padding:10px;
  color: white;
  font-weight: bold;
  margin-bottom:20px;
}

.list_header h2 {
  margin: 5px 0;
}

.list_header a {
  color: #05053B;
  text-decoration: none;
  font-weight: 500;
}

.auction_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.category_section {
  width:100%;
  max-width: 1320px;
  margin: 40px auto;
  padding: 0 12px;
}


.category_header {
  margin-bottom: 30px;
  display:flex;
  justify-content: space-between;
}

.category_header h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #05053B;
}

.category_header p {
  color: #666;
}
.category_header a {
  color: #05053B;
  text-decoration: none;
  font-weight: 500;
}

.category_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin:0;
  padding:0;
}

.category_list li {
  list-style: none;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 8px;
   font-weight: 600;
  font-size: 18px;
  color: #05053B;
}

.category_list li span {
  font-weight: normal;
  font-size: 14px;
  color: #888;
}

.category_list a {
  margin-top: auto;
  color: orange;
  font-weight: 500;
  text-decoration: none;
}

.category_list a:hover {
  text-decoration: underline;
}
.how_section {
  background-color:#05053B;
  width: 100%;
  margin-top: 50px;
  border-top: 3px solid orange;
  padding-bottom: 70px;
}

.how_inner {
  padding-block: 20px 40px;
}

.how_header {
  
  text-align: center;
  margin: 40px 0px;
}

.how_header h2 {
  font-size: 28px;
  color: #ffffff;
  margin: 20px 0px 10px 0px;
}

.how_header p {
  color: #b9b8b8;
}

.step_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0px 108.4px;
}

.step_grid li {
  background: #0a0a7b;
  border-radius: 16px;
  padding: 20px;
  height: 220px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.06);
  transition: 0.3s;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step_number {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.step_grid h3 {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.step_grid p {
  font-size: 13px;
  color: #b9b8b8;
  line-height: 1.4;
}
.carousel_wrapper {
  width: 100%;
  max-width: 636px;
  background: #0a0a4f;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.carousel_image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}
