.navbar :global(.nav-link),
.navbar :global(.nav-link:hover),
.navbar :global(.nav-link:focus),
.navbar :global(.nav-link:active),
.navbar :global(.nav-link.active) {
  color: #ffffff !important;
}
.navbar {
  background:#020617;
  padding: 10px 0;
}

/* Logo */
.logo {
  font-weight:bolder;
  font-size: 36px;
  color: orange;
}

.logo:hover,
.logo:focus,
.logo:active {
  color: orange;
}

/* Link chung */
.navbar :global(.nav-link) {
  color: #ffffff;
  font-weight: 500;
  margin-right: 10px;
  transition: all 0.2s ease;
}

/* Hover */
.navbar :global(.nav-link:hover) {
  color: #0d6efd;
}

/* Menu bên phải */
.navbar :global(.nav:last-child .nav-link) {
  margin-left: 10px;
}

/* Button style cho login/register */
.navbar :global(.nav:last-child .nav-link[href="/register"]) {
  background-color: #0d6efd;
  color: white !important;
  padding: 6px 12px;
  border-radius: 6px;
}

.navbar :global(.nav:last-child .nav-link[href="/register"]:hover) {
  background-color: #0b5ed7;
}

/* Responsive chỉnh nhẹ */
@media (max-width: 992px) {
  .navbar :global(.nav-link) {
    padding: 10px 0;
  }
}
